.container {
  /* display: flex; */
  justify-content: center;
  font-family: "Public Sans", san-serif;
  background-color: rgb(249, 250, 251);
  min-height: 100vh;
}
.sidebar {
  position: fixed;
  width: 280px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.userContainer {
  /* margin-top: 20vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  width: 85%;
  margin: auto;
  padding: 16px 20px;
  border-radius: 12px;
  background-color: rgba(145, 158, 171, 0.12);
  font-size: 14px;
  font-weight: 500;
}
.userLogo {
  height: 40px;
  width: 40px;
  position: relative;
  margin-right: 10px;
}
.userTitle {
}
.contentContainer {
  /* border: 1px solid black; */
  /* width: 85%; */
  margin: auto;
  padding-top: 15vh;
}
.contentWrapper {
  /* padding: 0 20px; */
}
.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  /* background-color: rgba(145, 158, 171, 0.12); */
}
.itemIcon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemSelected {
  display: flex;
  align-items: center;
  color: rgb(0, 82, 73);
  font-weight: 600;
  padding: 15px 20px;
  background-color: rgba(0, 123, 85, 0.12);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.logoTitle {
  font-family: "El Messiri", serif;
  font-size: 1.75rem;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 1rem;
}
.main {
  margin-left: 280px;
  /* padding: 0 10px; */
  /* border: 1px solid green; */
  min-height: 100vh;
}
.mainWrapper {
  /* border: 2px solid red; */
  width: 95%;
  margin: auto;
}
.mainTitle {
  padding: 100px 0 50px 0;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}
.boxWrapper {
  /* border: 2px solid black; */
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  background-image: linear-gradient(
    135deg,
    rgba(0, 123, 85, 0) 0%,
    rgba(0, 123, 85, 0.24) 100%
  );
  margin-bottom: 24px;
}
.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detailSubTitle {
  margin-top: 10px;
  font-size: 1rem;
  opacity: 0.8;
}
.btn {
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 250, 205);
  color: rgb(0, 82, 73);
  padding: 30px 0;
  width: 220px;
  height: 190px;
  border-radius: 1rem;
}

.mainWidgets {
  width: 85%;
  margin: auto;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.widget1 {
  flex: 3;
}
.widget2 {
  width: 30%;
}
