.container {
  /* display: flex; */
  padding: 20px;
  font-size: 16px;
  border: 1px;
}
.parent {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  border: 1px solid red;
  /* grid-template-rows: ; */
}
.child {
  flex: 1;
  border: 1px solid red;
  /* align-items: center; */
}
