.main {
  margin-left: 280px;
  min-height: 100vh;
  font-family: "Public Sans", sans-serif;
}
.container {
  /* display: flex; */
  justify-content: center;
  font-family: "Public Sans", san-serif;
  background-color: rgb(249, 250, 251);
  min-height: 100vh;
}
.optionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0 50px 0;
}
.option {
  padding: 20px 0;
  border-radius: 8px;
  background-color: rgb(200, 250, 205);
  color: rgb(0, 82, 73);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0 10px;
}
.rc-table-content {
  padding: 20px;
  border-radius: 10px;
  background: white;
}
